# vim editing
*.swp
*.swo
.tern-port

# note_modules
node_modules

# sass cache
.sass-cache

# intellij
*.iml
*.ipr
*.iws
.idea/

# jekyll
_site/
.publish/

# rbenv
.ruby-version
Gemfile.lock

# macOS
.DS_Store
