<!-- Browserstack -->
<div class="ad">
  <a href="https://www.browserstack.com/">
    <img src="/img/vendor/browserstack.png" alt="We're testing Summernote via BrowserStack."/>
  </a>
</div>
<!-- Google Ad -->
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- ad-main -->
<ins class="adsbygoogle"
     style="display:inline-block;width:320px;height:100px"
     data-ad-client="ca-pub-4799203991210529"
     data-ad-slot="5651631492"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
