<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
<meta name="author" content="{{ site.author }}">
<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico?">
<link rel="apple-touch-icon" sizes="57x57" href="/img/icons/icon_ios_57x57.png">
<link rel="apple-touch-icon" sizes="76x76" href="/img/icons/icon_ios_76x76.png">
<link rel="apple-touch-icon" sizes="120x120" href="/img/icons/icon_ios_120x120.png">
<link rel="apple-touch-icon" sizes="152x152" href="/img/icons/icon_ios_152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/img/icons/icon_ios_180x180.png">
<link rel="icon" type="image/png" sizes="192x192" href="/img/icons/android_icon_192x192.png">
<meta property="og:site_name" content="{{ site.title }}">
<meta property="og:type" content="website">
<meta property="og:title" content="{{ site.title }}">
<meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
<meta property="og:image" content="/img/icons/1200x630.png">
<meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
<meta name="twitter:card" content="summary">
<meta name="twitter:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
<meta name="twitter:title" content="{{ site.title }}">
<meta name="twitter:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
<meta name="twitter:image" content="/img/icons/icon_200x200.png">
<meta name="twitter:site" content="@hackerwins">
<meta name="twitter:domain" content="http://summernote.org/">

<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />

<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
<![endif]-->

<!-- jquery, bootstrap -->
<script src="/vendors/jquery/dist/jquery.js"></script>
<link href="/vendors/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
<script src="/vendors/bootstrap/dist/js/bootstrap.js"></script>

<!-- codemirror: todo: extract codemirror to bower -->
<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/codemirror/3.20.0/codemirror.min.css">
<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/codemirror/3.20.0/theme/monokai.min.css">
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/codemirror/3.20.0/codemirror.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/codemirror/3.20.0/mode/xml/xml.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/codemirror/2.36.0/formatting.min.js"></script>

<!-- add summernote -->
<link href="/vendors/summernote/dist/summernote.css" rel="stylesheet">
<script src="/vendors/summernote/dist/summernote.js"></script>
<script src="/vendors/summernote/lang/summernote-ko-KR.js"></script>

<!-- for website -->
<script src="/js/toc.js"></script>
<script src="/js/sidebar.js"></script>

<!-- Google Analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-42438082-1', 'auto');
  ga('send', 'pageview');
</script>
