<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta name="author" content="{{ site.author }}">

  <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->

  <!-- jquery, bootstrap, font-awesome -->
  <script src="/bower_components/jquery/dist/jquery.js"></script>
  <link href="/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
  <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <link href="/bower_components/font-awesome/css/font-awesome.css" rel="stylesheet">

  <!-- add summernote -->
  <link href="/bower_components/summernote/dist/summernote.css" rel="stylesheet">
  <script src="/bower_components/summernote/dist/summernote.js"></script>

  <script src="/js/toc.js"></script>

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
</head>
