/* Page container for 1000px
-------------------------------------------------- */
.page-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
}

.btn-important {
  padding: 10px 20px;
  background: #f86466;
  border: 1px solid #f86466;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  border-radius: 1px;
}
