/* Index layout
-------------------------------------------------- */
body.index {
  margin-top: 0 !important;

  .page-content {
    padding-bottom: 0 !important;
  }
}

/* Index typography
-------------------------------------------------- */
body.index {
  h3 img_main_picture{
    font-size: 18px;
    font-weight: bold;
    color: #42515f;
  }

  p, li {
    font-size: 13px;
    color: #6b717a;
  }
}

/* Main background image
-------------------------------------------------- */
.index-main-background {
  position: absolute;
  @include at2x('/img/img_main_picture', 'jpg');
  z-index: -1;
  width: 100%;
  height: 466px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

$index-title-margin: 120px;
$index-title-margin-xs: 65px;

.index-title {
  margin-top: $index-title-margin + $header-height;
  margin-bottom: $index-title-margin;
  @media screen and (max-width: $screen-width-xs) {
    margin-top: $index-title-margin-xs + $header-height;
    margin-bottom: $index-title-margin-xs;
  }
}

/* Index section 1
-------------------------------------------------- */
.index-section-1 {
  margin-bottom: 60px;
}

.card-list {
  margin-top: 60px;
}

.card-item {
  display: inline-block;
  margin-right: 20px;
  text-align: center;
  width: 184px;
  height: 174px;
  vertical-align: middle;

  a {
    display: inline-block;
  }

  .card-title {
    margin-top: 13px;
    margin-bottom: 5px;
  }

  &:last-child {
    margin-right: 0;
  }
}

/* Index section 2
-------------------------------------------------- */
.index-section-2 {
  padding-top: 68px;
  padding-bottom: 60px;
  background: rgba(183, 203, 216, 0.16);

  .col-sm-6 {
    margin-top: 68px;
    padding-left: 0;

    &:first-child {
      margin-top: 80px;
    }
  }

  h3 {
    margin-top: 40px;

    &:first-child {
      margin-top: 0;
    }
  }
}

.btn-donate {
  width: 152px;
}

.summary-section {
  padding-top: 12px;

  h3 {
    margin-bottom: 8px;
  }

}

.twitter-list {
  padding: 36px 38px !important;
  background: #ffffff;

  .twitter-title {
    padding-left: 2px;
    margin-bottom: 14px;
  }
}

/* Index page image sprites
-------------------------------------------------- */
.img-index-title {
  margin-right: 36px;
  @include img('/img/img_main_title', 432px, 84px);
}

.img-index-download {
  @include img('/img/img_main_download', 100px, 100px);
}

.img-index-install {
  @include img('/img/img_main_install', 76px, 76px);
}

.img-index-customizing {
  @include img('/img/img_main_customizing', 76px, 76px);
}

.img-index-shortcuts {
  @include img('/img/img_main_shortcuts', 76px, 76px);
}

.img-index-opensource {
  @include img('/img/img_main_opensource', 76px, 76px);
}

.img-index-backend {
  @include img('/img/img_main_backend', 76px, 76px);
}

/* Index page download button
-------------------------------------------------- */
#download {
  display: inline-block;
  @media screen and (max-width: $screen-width-xs) {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10000;
  }
}
