/* Fixed header and Sticky footer
-------------------------------------------------- */
$header-height: 80px;
$footer-height: 272px;

html {
  position: relative;
  min-height: 100%;
}

$line-color: rgba(218, 224, 232, 0.5);

body {
  margin-top: $header-height;
  margin-bottom: $footer-height;
  background: rgb(240, 243, 249);
  background-image: linear-gradient($line-color 1px, transparent 1px), linear-gradient(90deg, $line-color 1px, transparent 1px);
  background-size: 10px 10px;
}

.page-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
}

.fix-navbar {
  margin-bottom: 0;
  padding-top: 15px;
  height: $header-height;
  background: #3fc6f7;
  opacity: .9;
  border: 0;
  border-radius: 0;
}

.fix-header-brand {
  padding-left: 0;
}

.header-page-container {
  margin-top: 10px;
}

.header-page-link {
  font-size: 18px;
  color: #c6f3ff !important;
}

.header-bi {
  @include img('/img/img_gnb_bi', 132px, 16px);
}

$footer-margin: 60px;

.footer {
  position: absolute;
  width: 100%;
  height: $footer-height;
  padding-top: 60px;
  padding-bottom: 60px;
  background: rgb(225, 231, 239);
  background-image: linear-gradient($line-color 1px, transparent 1px), linear-gradient(90deg, $line-color 1px, transparent 1px);
  background-size: 10px 10px;
  text-align:center;
  font-size: 15px;
}
