/* Page layout
-------------------------------------------------- */
body.page {
  margin-top: $header-height + 40px;
}

.page-content {
  margin-bottom: 150px;
}

/* Page table of contents
-------------------------------------------------- */

$h2-vertical-margin: 30px;
$h3-vertical-margin: 22px;

/* Page typography
-------------------------------------------------- */
body.page {
  h2 {
    margin: $h2-vertical-margin 0;
    font-size: 26px;
    color: #42515f;
  }

  h3 {
    margin: $h3-vertical-margin 0;
    font-size: 18px;
    color: #42515f;
  }

  p, li {
    font-size: 13px;
    color: #6b717a;
  }

  blockquote {
    background: white;
  }
}

/* Janky fix for preventing navbar from overlapping
-------------------------------------------------- */
h2[id] {
  margin-top: $header-height * -1 !important;
  padding-top: $header-height + $h2-vertical-margin;
}

h3[id], h4[id] {
  margin-top: $header-height * -1 !important;
  padding-top: $header-height + $h3-vertical-margin;
}
