/* Page layout
-------------------------------------------------- */
body.page {
  margin-top: $header-height + 40px;
}

.page-content {
  margin-bottom: 150px;
}

/* Page table of contents
-------------------------------------------------- */

$h2-vertical-margin: 30px;
$h3-vertical-margin: 22px;

/* sidebar with affix
-------------------------------------------------- */
$normal-border: 4px solid transparent;
$active-border: 4px solid #57c3f5;
/* By default it's not affixed in mobile views, so undo that */
.bs-page-sidebar.affix {
  position: static;
}

/* First level of nav */
.bs-page-sidenav {
  margin: auto 30px;
  padding: auto 10px;
  text-shadow: 0 1px 0 #fff;
  border-radius: 5px;
}

/* All levels of nav */
.bs-page-sidebar .nav > li > a {
  border-left: $normal-border;
  font-size: 16px;
  display: block;
  color: #99a2ac;
  padding: 5px 20px;
  cursor: pointer;
}
.bs-page-sidebar .nav > li > a:hover,
.bs-page-sidebar .nav > li > a:focus {
  background-color: transparent;
  text-decoration: none;
  border-left: $active-border;
}
.bs-page-sidebar .nav > .active > a,
.bs-page-sidebar .nav > .active:hover > a,
.bs-page-sidebar .nav > .active:focus > a {
  font-weight: bold;
  color: #42515f;
  border-left: $active-border;
}

/* Nav: second level (shown on .active) */
.bs-page-sidebar .nav .nav {
  display: none; /* Hide by default, but at >768px, show it */
}
.bs-page-sidebar .nav .nav > li > a {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 30px;
  font-size: 90%;
}

/* Nav: third level (shown on .active) */
.bs-page-sidebar .nav .nav .nav > li > a {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 40px;
  font-size: 80%;
}

/* Show and affix the side nav when space allows it */
@media screen and (min-width: 992px) {
  .bs-page-sidebar .nav > .active > ul {
    display: block;
  }

  .bs-page-sidebar.affix,
  .bs-page-sidebar.affix-bottom {
    width: $footer-height;
  }

  .bs-page-sidebar.affix {
    position: fixed;
    top: $header-height + 20;
  }

  .bs-page-sidebar.affix-bottom {
    position: absolute;
  }

  .bs-page-sidebar.affix-bottom .nav,
  .bs-page-sidebar.affix .nav {
    margin: auto 0;
  }
}

@media screen and (min-width: 1000px) {
  /* Widen the fixed sidebar again */
  .bs-page-sidebar.affix-bottom,
  .bs-page-sidebar.affix {
    width: 220px;
  }
}

/* Page typography
-------------------------------------------------- */
body.page {
  h2 {
    margin: $h2-vertical-margin 0;
    font-size: 26px;
    color: #42515f;
  }

  h3 {
    margin: $h3-vertical-margin 0;
    font-size: 18px;
    color: #42515f;
  }

  p, li {
    font-size: 13px;
    color: #6b717a;
  }

  blockquote {
    border-left: 5px solid #f86466;
    background: white;
  }
}

/* Janky fix for preventing navbar from overlapping
-------------------------------------------------- */
h2[id] {
  margin-top: $header-height * -1 !important;
  padding-top: $header-height + $h2-vertical-margin;
}

h3[id], h4[id] {
  margin-top: $header-height * -1 !important;
  padding-top: $header-height + $h3-vertical-margin;
}
