/* Page layout
-------------------------------------------------- */
body.team {
  margin-top: $header-height + 70px;
}

/* Page typography
-------------------------------------------------- */
body.team {
  h2 {
    margin: 30px 0;
    font-size: 26px;
    color: #42515f;
  }

  p {
    font-size: 13px;
    color: #6b717a;
  }
}

.fix-thumbnail {
  border: 0;
  background-color: transparent;
}
