---
layout: default
layoutType: doc
---
<div class="page-container">
  <div class="row">
    <div class="col-md-3 doc-nav">
      <h2>{{ page.title }}</h2>
      <p class="muted">{{ page.description }}</p>
      <div class="bs-page-sidebar" side-navbar role="complementary">
        <div id="toc"></div>
      </div>
    </div>
    <div class="col-md-9 doc-content-wrap">
      <div class="doc-content" role="main">
        {{ content }}
      </div>
      <footer class="doc-footer">
        {% include ad-doc.html %}
        <hr>
        {% include footer.html %}
      </footer>
    </div>
  </div>
</div>
<script>
$(function () {
  $('#toc').toc();
  var $sidebar = $('.bs-page-sidebar');
  var $body = $(document.body);
  var $navbar = $('.navbar');

  if ($sidebar.length) {
    $body.scrollspy({
      target: '.bs-page-sidebar',
      offset: $navbar.height()
    });

    $sidebar.affix({
      offset: {
        top: function() {
          var offsetTop = $sidebar.offset().top;
          var nPadding = 85;
          return (this.top = offsetTop - nPadding - $navbar.height());
        }, bottom: function() {
          return (this.bottom = $('.bs-page-footer').outerHeight(true));
        }
      } 
    });
  }
});
</script>
